<!-- <div style="background:tomato"><h2>Nak project starting.............</h2></div> -->
<!-- <form [formGroup]="frm">
        <cyberintechTextbox [label]="'Email'" showClearButton="true" controlname="email" [group]="frm"></cyberintechTextbox>
        <cyberintechCheckbox [label]="'I am sure'" labelPosition="before" controlname="cb" [group]="frm"></cyberintechCheckbox>
        <cyberintechCheckboxGroup [group]="frm"  label="Configuration Settings" [options]="checkboxOptions"></cyberintechCheckboxGroup>
        <cyberintechDropdown [group]="frm" label="Select option" controlname="dropdown"  [dataSource]="data" 
        (onItemSelection)="onSelection($event)"  textField="State" valueField="ID"></cyberintechDropdown>
        <cyberintechRadioButton [group]="frm" controlname='radiobutton' [options]="data" value="ID" text="State" required="true" (onChanged)="radioChanged($event)"></cyberintechRadioButton>
        <cyberintechDatePicker [group]="frm" controlname='datePick'></cyberintechDatePicker>
        
</form> -->
<cyberintech-header></cyberintech-header>

<router-outlet></router-outlet>


<cyberintech-footer></cyberintech-footer>

