<!-- <div class="crawford-control">
    <div [class.e-error]="hasError()" [formGroup]="group">
      <ejs-radiobutton [formControlName]="name" [value]="value" [name]="name" [label]="label" [labelPosition]="labelPosition"></ejs-radiobutton>
    </div>
    <cco-control-validation [group]="group" [control]="control" [controlName]="name" [validationMessages]="validationMessages">
    </cco-control-validation>
  </div> -->
<section  [formGroup]="group">
  <mat-radio-group [formControlName]="controlname" [labelPosition]="labelPosition" [required]="required" [selected]="selected" (change)="onChange($event)">
      <mat-radio-button *ngFor="let data of options" [value]="data[value]">
        {{data[text]}}
      </mat-radio-button>
    </mat-radio-group>
  </section>